.kv-con
{
  display:flex;
}

.kv-section
{
  width: 49%;
  height: 600px;
  text-align: left;
  
}

.kv-section textarea
{
  width: 90%;
  height: 580px;
  background: var(--color_nav);
  color: var(--color_text);
  margin: 4px auto;
  resize: none;
  overflow-y: scroll;
  padding: 10px;
}

.kv-section code
{
  height: 600px;
  padding: 10px 10px;
}
