.kv-con
{
  display:flex;
  width: 90%;
  margin: auto;
  margin-top: 44px;
}

.kv-section
{
  width: auto;
  
  height: 600px;
  text-align: left;
  
}


.kv-section-left
{
  flex-grow: 1;
}

.code-text-wrapper
{
  width: 100%;
  display:flex;
  overflow-y: scroll;
  height: 600px;
}

.code-line-nums
{
  width: 40px;
  padding-top: 10px;
  font-size: 12px;
  height: auto;
  line-height: 1;
  font-family: 'Source Code Pro', monospace;
  z-index: 5;
  background: var(--color_background);
  border-right: 2px solid var(--color_table_border);
}

.code-line-nums span
{
  display: block;
  text-align: right;
  padding: 0px 4px;
  line-height: 16px;
  height: 14px;
  line-height: 1;
}


.kv-section textarea
{
  text-shadow: none;
  width:98%;
  min-height: 580px;
  height: auto;
  white-space: nowrap;
  background: var(--color_nav);
  color: var(--color_text);
  margin: 0px auto;
  resize: none;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  line-height: 16px;
  font-size: 14px;
  line-height: 1;
  border:none;
}

.kv-section-right
{
  width: 600px;
  height: 500px;
}

.output
{
  height: 572px;
  padding: 14px 14px;
  font-size: 16px;
  border-left: 6px solid var(--color_table_border);
  margin-left: 8px;
  font-family: 'Source Code Pro', monospace;
  background: var(--color_nav);
}

.output span
{
  display:block;
  margin-bottom: 4px;
  padding: 4px 6px;
  padding-left: 8px;
}

.kv-error
{
  border-left: 10px solid rgb(200, 0, 0);
}

.kv-success
{
  border-left: 10px solid rgb(0, 200, 0);
}