.main-nav-con
{
  width: 100%;
  border-bottom: 2px solid #444;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color_background);
  text-align: center;
  background-image: url("/bg_3.jpg");
  background-position: top -220px right 0px;
  
  align-items: center;
}

.main-nav
{
  max-width: 1042px;
  display:flex;
  align-content:space-around;
  margin: 0px auto;
}

.main-nav-left, .main-nav-right
{
  display:flex;
  flex: flex-grow;
  justify-items: center;
  max-width: 500px;
}

.main-nav-middle-item
{
  height: 42px;
  flex-basis: 42px;
  fill: red;
  background: rgba(36, 36, 36, 0.9);
}

.main-nav-item
{
  background: rgba(36, 36, 36, 0.9);
  width: 246px;
  font-size: 18px;
  line-height:  42px;
  text-decoration: none;
  color: var(--color_text);
  user-select: none;
  cursor: pointer;
  border-right: 2px solid #444;
  border-left: 2px solid #444;
}

.main-nav-item:last-child
{
  border-left:none;
}

.main-nav-item:hover
{
  background: rgb(231, 1, 1);
  color: white;
  transition: 0.08s;
}


@media only screen and (max-width: 1050px) {
  .main-nav
  {
    width: 100%;
  }

  .main-nav-middle-item
  {
    display:none;
  }
  .main-nav-left, .main-nav-right
  {
    width: 100%;
  }

  .main-nav-left .main-nav-item:last-child
  {
    border-right: none;
  }

  .main-nav-item
  {
    width: 100%;
    font-size: 12px;
  }
}