.main-nav-con
{
  width: 100%;
  border-bottom: 2px solid #444;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color_background);
  text-align: center;
  background-image: url("/bg_3.jpg");
  background-position: top -220px right 0px;
}

.main-nav
{
  display: flex;
  flex: flex-grow;
  width: 1042px;
  margin: 0 auto;
}

.main-nav-middle-item
{
  height: 42px;
  min-width: 42px;
  fill: red;
  background: rgba(36, 36, 36, 0.9);
}

.main-nav-item
{
  background: rgba(36, 36, 36, 0.9);
  min-width: 250px;
  font-size: 18px;
  line-height:  42px;
  text-decoration: none;
  color: var(--color_text);
  user-select: none;
  cursor: pointer;
  border-right: 2px solid #444;
  border-left: 2px solid #444;
}

.main-nav-item:first-child
{
  border-right:none;
}

.main-nav-item:last-child
{
  border-left:none;
}

.main-nav-item:hover
{
  background: rgb(231, 1, 1);
  color: white;
  transition: 0.08s;
}
