:root 
{
  --color_1 : rgb(82,82,82);
  --color_background : rgb(42, 42, 42);
  --color_text: rgb(211, 211, 211);
  --color_table_border: rgb(75, 75, 75);
  --color_nav: rgb(56, 56, 56);
  --color_table_heading: rgb(207, 13, 13);
  --hover: #555;
  --color_code: rgb(66, 66, 66);
}

@font-face {
  font-family: SFMono-Regular;
  src: url('SFMono-Regular.otf');
}

body
{
  background: var(--color_background);
  color: var(--color_text);
  overflow-y: scroll;
}

h1
{
  margin-top: 0px;
  padding-top: 18px;
}

.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.7px;
  font-size: 14px;
  margin-top: 42px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tables
{
  margin-left: 350px;
  margin-bottom: 500px;
}

code
{
  font-family: 'SFMono-Regular', monospace;
  font-size:12px;
  letter-spacing: 0.0px;
  background: var(--color_code);
  display:block;
  padding: 6px 10px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
