.code-keyword
{
  color: rgb(236, 97, 236);
}

.code-keyword-alt
{
  color: rgb(66, 125, 235);
}

.code-comment
{
  color: rgb(160, 160, 160);
}

.code-block
{
  overflow-x: auto;
  color: var(--color_text);
  font-size: 12px;
  padding: 20px 20px;
  display: block;
  white-space: pre-wrap;
  margin: 10px 0px;
  line-height: 16px;
  overflow-x: auto;
}

hr
{
  border-top: 2px solid rgb(151, 151, 151);
  border-bottom: none;
  border-left:none;
  border-right:none;
  margin-top: 20px;
  margin-bottom: 30px;
}